<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/atmpantalla"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ATMSimulator"
        tools:targetApi="31">
        <activity
            android:name=".OtroRetiroActivity"
            android:exported="false" />
        <activity
            android:name=".OtroDepositoActivity"
            android:exported="false" />
        <activity
            android:name=".RetiroActivity"
            android:exported="false" />
        <activity
            android:name=".DepositoActivity"
            android:exported="false" />
        <activity
            android:name=".RetiroDepositoActivity"
            android:exported="false" />
        <activity
            android:name=".IniciarSesionActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" /> <!-- Punto de entrada -->
                <category android:name="android.intent.category.LAUNCHER" /> <!-- Actividad de inicio -->
            </intent-filter>
        </activity>
        <activity
            android:name=".ATMActivity"
            android:exported="false" />
    </application>

</manifest>